
:root {
	--primryColor: #f09d51;
	--mainWhite: #fff;
	--mainBlack: #222;
	--mainGrey: #ececec;
}

body {
	color: var(--mainBlack);
	background: var(--mainGrey);
	font-family: "lato", sans-serif;
}

.cf {
	width: 100%;
	box-sizing: border-box;
	display: table;
	overflow: hidden;
}

.logo {
	float: left;
	margin-right: 30px;
	height: 100%;
	width: 60%;
	display: table-cell;
	box-sizing: border-box;
	resize: both;
	overflow: hidden;
}

.fields {
	float: left;
	align-content: center;
	height: 100%;
	width: 35%;
	display: table-cell;
	box-sizing: border-box;
	resize: both;
	overflow: hidden;
}

img {
    max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}


  h2 {
	  margin-top: 2rem;
  }

  label {
	display: block;
	align-items: left;
	width: 200px;
	height: 20px;
  }

  select, input {
	display: block;
	align-items: left;
	width: 350px;
	height: 20px;
	margin-top: 0.2rem;
  }

  /* Style the submit button */
  input[type=submit] {
	width: 350px;
	height: 50px;
	background-color: var(--mainBlack);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 1rem;
  }
  
  /* Add a background color to the submit button on mouse-over */
  input[type=submit]:hover {
	background-color: var(--mainBlack);
  }
